.register-link {
  margin-top: 8px;
  a {
    color: #3f51b5;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 12px;
    font-size: 14px;
    text-align: center;
  }
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
